<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gproduction.yuklapor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.report.ReportActivty"></activity>
        <activity android:name=".ui.splash.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.registrasiadmin.RegistrasiAdminActivity" />
        <activity android:name=".ui.profile.detailprofile.DetailProfileActivity" />
        <activity
            android:name=".ui.home.HomeActivityAdmin"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.berita.detail.DetailBeritaActivity" />
        <activity android:name=".ui.berita.list.ListBeritaActivity" />
        <activity android:name=".ui.laporkan.LaporkanActivity" />
        <activity android:name=".ui.tanggapan.TanggapanActivity" />
        <activity android:name=".ui.detaillaporan.DetailLaporanActivity" />
        <activity android:name=".ui.daftarlaporan.main.DaftarLaporanActivity" />
        <activity
            android:name=".ui.home.HomeActivityMasyarakat"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.auth.AuthActivity" />
    </application>

</manifest>